<a>
  <slot />
</a>

<style>
  a{
    padding: 10px 40px;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1C1C1C;
    border: 1px solid #696969;
    border-radius: 50px;
  }
</style>

