---
const {classname, ...rest} = Astro.props
---
<button  class={classname} {...rest}>
  <slot />
</button>

<style>
  button{
    max-width: 256px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1C1C1C;
    border: 1px solid #696969;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    position: relative;
  transition: all 0.2s ease-in-out;
  }
  button:hover {
    border: 1px solid white;
    scale: 1.05;
  }

  @media (width >= 600px) {
    button{
      font-size: 22px;
    }
  }
  @media (width >= 900px) {
    button{
      font-size: 26px;
    }
  }
</style>