---
import Section from "@/components/Section.astro";
import UserIcon from "@/icons/UserIcon.astro";
---

<Section title="Sobre mí">
  <UserIcon slot="section-svg" />
  <div class="about-wrapper">
    <div class="image-wrapper">
      <img src="/aboutme.png" />
    </div>
    <div class="content-wrapper">
      <p>
        Me llamo Ander y recientemente me gradué como ingeniero informático. A
        pesar de mi corta trayectoria, he podido <span>
          experimentar en multitud de areas del software.</span
        >
      </p>
      <p>
        Algunas de las areas que me interesan son la<span>
          ciberseguridad, desarrollo web y la inteligencia artificial.</span
        >
      </p>

      <!-- <p>En mi tiempo libre me gusta</p> -->

      <p>
        Mi enfoque actual se centra en seguir aprendendiendo y creciendo en diferentes áreas,
        con la meta de <span>contribuir significativamente
        al progreso de la comunidad y las empresas </span> con mis habilidades y
        conocimientos.
      </p>
    </div>
  </div>
</Section>

<style>
  .about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .image-wrapper {
    width: 200px;
    height: 200px;
    aspect-ratio: 1 / 1;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  span {
    color: var(--yellow-text);
    /* color: var(--soft-pink-text); */
  }

  @media (width >= 650px) {
    .about-wrapper {
      flex-direction: row;
      gap: 20px;
    }

  }
  @media (width >= 900px) {
    .image-wrapper {
      width: 260px;
      height: 260px;
    }
    .about-wrapper {

      gap: 60px;
    }
  }
</style>
