---
import Section from '@/components/Section.astro'
import Primary from '../buttons/Primary.astro'
import Secondary_button from '../buttons/Secondary_button.astro'
import Send from '@/icons/Send.astro'
import Copy from '@/icons/Copy.astro'

import MailIcon from '@/icons/MailIcon.astro'
---
<Section title="Contáctame" id="contact">
  <MailIcon slot='section-svg'/>
  <div>
    <input type="text" disabled value="anderfernandez.ce@gmail.com">
    <div class="buttons-container">
      <Primary classname="button small_round" href="mailto:anderfernandez.ce@gmail.com">
        <Send/>
      </Primary>
    <Secondary_button classname="button copy-button">
      <span class="popup-notification">Copiado!</span>
      <Copy/>
    </Secondary_button>
    </div>
    
  </div>
</Section>

<style>
  .popup-notification {
    opacity: 0;
    width: 100px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
  }
  .popup-notification::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  .active{
    opacity: 1;
    bottom:125%;
    transition: all ease-in-out 0.2s; 
  }

  div{
    display: grid;
    grid-template-columns: 1fr;
  }
  input{
    background-color: #2A2A2C;
    border-radius: 5px;
    border: 1px solid #555555;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 35px;
    font-size: 14px;
  }
  .buttons-container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  .button {
    height: 40px;
    margin-top: 20px;
    width: 100%;
  }
  .small_round{
    border-radius: 5px;
  }

  @media (width >= 600px) {
    div{
      grid-template-columns: minmax(270px, 1fr) 160px;
      align-items: center;
      gap: 20px;
    }
    .button {
      margin:0;
      height: 50px;
    }
    input{
      height: 50px;
      font-size: 18px;
    }
  }
  @media (width >= 900px) {
    input{
      height: 50px;
      font-size: 20px;
    }
  }
 
</style>

<script>
  const button = document.querySelector(".copy-button")
  button.addEventListener('click', cpEmail)
  const copiedMessage = document.querySelector(".popup-notification")

  async function cpEmail(){
    try{
      await navigator.clipboard.writeText("anderfernandez.ce@gmail.com")
      copiedMessage.classList.toggle("active")

      const timeoutId = setTimeout(function() {
            copiedMessage.classList.remove("active");
        }, 3000);
        // Event listener to remove "active" class when clicked outside
      function removeActiveClass(event) {
          if (!copiedMessage.contains(event.target)) {
            clearTimeout(timeoutId);
            copiedMessage.classList.remove("active");
            document.body.removeEventListener("click", removeActiveClass);
          }
      }
      document.body.addEventListener("click", removeActiveClass);
    }
    catch (err){
      console.error(err)
      alert(err)
    }
  }
</script>