---
import Section from '@/components/Section.astro'
import Linkedin from '@/icons/Linkedin.astro'
import Github from '@/icons/Github.astro'
import Mail from '@/icons/Mail.astro'

import Secondary from '../buttons/Secondary.astro'
import Primary from '../buttons/Primary.astro'

const iconsize = 25
---
<Section >
  <div class="hero_wrapper">
    <div class="back-blur"/>
    
    <header>
      <div class="ander-image-container">
        <img src="/ander.png">
      </div>
      <div class="about_me">
        <h1>Ander Fernandez</h1>
        <span> Ingeniero de Software</span>
      </div>
    </header>

    <section>
      <ul>
        <li>
          <a href="https://www.linkedin.com/in/ander-fernandez-carrero-2b968521a/" target="_blank" rel="noreferrer noopener">
            <Linkedin ></Linkedin>
          </a>
        </li>
        <li>
          <a href="https://github.com/AnderFernandezCE" target="_blank" rel="noreferrer noopener">
            <Github></Github>
          </a>
        </li>
        <li>
          <a href="mailto:anderfernandez.ce@gmail.com" target="_blank" rel="noreferrer noopener">
            <Mail ></Mail>
          </a>
        </li>
      </ul>

      <div>
        <p> Especializado en la <highlight>ingenieria de Software</highlight>, con un gran interes en el <highlight>desarrollo de productos</highlight>.
        Con capacidad de aprender y aplicar mis conocimientos al ambito profesional.</p>
    
        
        <nav>
          <Primary href="/#contact" >Contáctame</Primary>
          <Secondary href="/Ander_Fernandez_cv-compressed.pdf">Mi CV</Secondary>
        </nav>
      </div>
      
    </section>
    
  </div>
</Section>

<style>
  .hero_wrapper{
    position: relative;
    width: 100%;
    margin-top: -26px;
  }
  header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 80px;
  }
  .ander-image-container{
    width: 56px;
    height: 56px;
  }
  img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: contain;
  }
  .about_me{
    height: 56px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right
  }

  span{
    color: #ffffffd7;
    font-size: 14px;
  }

  highlight{
    color: var(--soft-pink-text)
    /* color: var(--yellow-text) */
  }

  ul{
    width: 100%;
    padding: 0;
    margin:0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  li{
    padding:0;
    margin: 0;
    cursor: pointer;
  }
  li a{
    display: flex;
    color: var(--soft-blue-text);
    justify-content: center;
    align-items: center;
  }
  li a:hover{
    transform: scale(110%);
    color: var(--blue-text);
  }
  nav{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  .back-blur{
    z-index: -1;
    position: absolute;
    left: 0;
		right: 0;
    top: 0px;
		bottom: 0;
    width: 100%;
    height: 100%;
		margin-left: auto;
		margin-right: auto;
    border-radius: 50%;
    background: linear-gradient(90deg, rgba(255, 68, 169, 0.15) 0%, rgba(20, 0, 255, 0.15) 100%);
    filter: blur(100px); 
    pointer-events: none;
  }

  section{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  section div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  p{
    line-height: 1.8;
  }


  @media (width >= 600px) {
    h1{
      font-size: 35px;
    }
    .hero_wrapper{
      margin-top: -36px;
    }
    .ander-image-container{
      width: 88px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .about_me{
      height: 88px;
      justify-content: space-between;
    }
    img{
      width: 88px;
      height: 88px;
      border-radius: 15px;
      object-fit: contain;
    }
    span{
      font-size: 18px;
    }

    ul{
      flex-direction: column;
      max-width: 128px;
      margin:0;
      justify-content: center;
      align-items: center;
    }
    li{
      height: 100%;
    }
    section{
      flex-direction: row;
      justify-content: space-between;
    }
    section div{
      max-width: 600px;
    }   
    header{
      margin-bottom: 80px;
    }
  }
  
  @media (width >= 900px) {
    h1{
      font-size: 56px;
    }
    .hero_wrapper{
      margin-top: -58px;
    }
    .ander-image-container{
      width: 128px;
      height: 100%;
    }
    .about_me{
      height: 128px;
    }
    img{
      width: 128px;
      height: 128px;
    }
    header{
      margin-bottom: 120px;
    }
    span{
      font-size: 22px;
    }
    section{
      gap: 50px;
    }
  }

</style>