---
import Section from '@/components/Section.astro'
import Project from '@/icons/Project.astro'

import Skill from '@/components/Skill.astro'

import React from '@/icons/skills/React.astro'
import JavaScript from '@/icons/skills/JavaScript.astro'
import SQL from '@/icons/skills/SQL.astro'
import Python from '@/icons/skills/Python.astro'
import PHP from '@/icons/skills/PHP.astro'
import Haskell from '@/icons/skills/Haskell.astro'
import Csharp from '@/icons/skills/Csharp.astro'
import Git from '@/icons/skills/Git.astro'

// const rowOne = ["JavaScript","React","SQL","Python","PHP","Haskell","Haskell","Git"]
const rowTwo = ["FastAPI","React","SQL","Python","PHP","Haskell","Haskell","Git"]
const rowOne ={
  "Python": Python,
  "JavaScript": JavaScript,
  "React": React,
  "SQL": SQL,
  "PHP": PHP,
  "Haskell": Haskell,
  "C#": Csharp,
  "Git": Git
}
---
<Section title="Habilidades">
  <Project slot='section-svg'/>
  
  <div class="skills-container">
    <div class="row">
      { Object.entries(rowOne).map(([key, Value])=>{ 
 
          return(
          <Skill title={key}>
            <Value />
          </Skill>)
        })
      }
    </div>
    <div class="row">
      { rowTwo.map((item)=> <Skill title={item}>
        <JavaScript />
      </Skill>)}
    </div>
  </div>

</Section>

<style>
  .skills-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    width:100%;
    max-width: 340px;
  }
  .row{
    display: flex;
    flex-direction: column;
  }

  @media (width >= 700px) {
    .skills-container{
      max-width: 100%;
      flex-direction: column;
    }
    .row{
      flex-direction: row;
      gap:20px;
      justify-content: space-between;
      width: 100%;
    }
  }
</style>