---
import Section from "@/components/Section.astro";
import Project from "@/icons/Project.astro";

import Skill from "@/components/Skill.astro";

import SQL from "@/icons/skills/SQL.astro";
import Python from "@/icons/skills/Python.astro";
import PHP from "@/icons/skills/PHP.astro";
import Haskell from "@/icons/skills/Haskell.astro";
import Csharp from "@/icons/skills/Csharp.astro";
import NodeJS from "@/icons/skills/NodeJS.astro";
import Java from "@/icons/skills/Java.astro";
import Fastapi from "@/icons/skills/Fastapi.astro";

import Html from "@/icons/skills/Html.astro";
import Css from "@/icons/skills/Css.astro";
import JavaScript from "@/icons/skills/JavaScript.astro";
import React from "@/icons/skills/React.astro";
import JQuery from "@/icons/skills/JQuery.astro";

import Astro_icon from "@/icons/skills/Astro_icon.astro";
import Docker from "@/icons/skills/Docker.astro";
import Linux from "@/icons/skills/Linux.astro";

const frontEnd = {
  HTML5: Html,
  CSS: Css,
  JavaScript: JavaScript,
  ReactJS: React,
  jQuery: JQuery,
};
const backEnd = {
  Python: Python,
  SQL: SQL,
  PHP: PHP,
  NodeJS: NodeJS,
  Haskell: Haskell,
  "C#": Csharp,
  Java: Java,
  FastAPI: Fastapi,
};

const learning = {
  Astro: Astro_icon,
  Docker: Docker,
  Linux: Linux,
};
---

<Section title="Habilidades">
  <Project slot="section-svg" />
  <p>
    Estas son algunas de las <span>habilidades y tecnologías</span> en las cuales
    me he formado durante mi etapa de desarrollo
  </p>

  <div class="items-wrapper">
    <div class="items-container">
      <h2>Frontend</h2>
      <div class="items">
        {
          Object.entries(frontEnd).map(([key, Value]) => {
            return (
              <Skill title={key}>
                <Value classname="svg-icon" />
              </Skill>
            );
          })
        }
      </div>
    </div>

    <div class="items-container">
      <h2>Backend</h2>
      <div class="items">
        {
          Object.entries(backEnd).map(([key, Value]) => {
            return (
              <Skill title={key}>
                <Value classname="svg-icon" />
              </Skill>
            );
          })
        }
      </div>
    </div>

    <div class="items-container">
      <h2>Aprendiendo</h2>
      <div class="items">
        {
          Object.entries(learning).map(([key, Value]) => {
            return (
              <Skill title={key}>
                <Value classname="svg-icon" />
              </Skill>
            );
          })
        }
      </div>
    </div>
  </div>
</Section>

<style>
  span {
    color: var(--yellow-text);
  }
  .svg-icon {
    width: 35px;
    height: 35px;
  }

  .items-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(50%, 350px), 1fr));
    width: 100%;
    justify-items: center;
    gap: 15px;
    margin-top: 50px;
  }
  .items-container {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    background-color: #1c1f22;
    gap: 15px;
    border-radius: 15px;
    border: solid 1px rgba(255, 255, 255, 0.158);
    transition: all 0.15s ease;
    color: rgb(202, 201, 201);
  }
  .items-container:hover {
    border: solid 1px rgba(255, 255, 255, 0.336);
    background-color: #212527;
    color: white;
  }
  .items {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    margin-bottom: 15px;
  }
  h2 {
    color: var(--soft-pink-text);
    margin-top: 10px;
  }

  @media (width >= 700px) {
    .svg-icon {
      width: 40px;
      height: 40px;
    }
  }

  @media (width >= 954px) {
    .items-container:nth-child(3) {
      transform: translateX(50%);
    }
    .items-container {
      height: 400px;
    }
  }
</style>
