---
import Layout from '@/layouts/Layout.astro';

import About from '@/components/sections/About.astro';
import Contact from '@/components/sections/Contact.astro';
import Hero from '@/components/sections/Hero.astro';
import Projects from '@/components/sections/Projects.astro';
import Skills from '@/components/sections/Skills.astro';

import HeroImage from '@/components/HeroImage.astro'
---

<Layout title="Ander Fernandez">
	<main>
		<HeroImage />
		<Hero />
		<Projects />
		<About />
		<Skills />
		<Contact />
	</main>
</Layout>

<style>
	main{
		padding:64px 0;
		/* margin: auto; */
		width: 100%;
	
		position: relative;
		z-index: 0;
	}
</style>
