---
const {imagePosition, title} = Astro.props
---
<article class={imagePosition}>
  <div class="image-container">
    <slot name="image" />
  </div>
  <div class="project-info-container">
    <div class="project-info"> 
      <h2>{title} </h2>
      <slot name="project-description"></slot>
      <div class="tag-section">
        <slot />
      </div>
      <slot name="project-links"></slot>
      
    </div>
   
  </div>
</article>

<style>
  .tag-section{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  article{
    width: 100%;
    height: 100%;
    border: 1px solid #7575756c;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 75px;
    position: relative;
  }
  article:hover{
    border: 1px solid #757575b6;
  }

  .project-info-container{
    background: linear-gradient(0deg, rgba(45, 45, 45, 0.65) 0%, rgba(29, 29, 29, 0.62) 100.01%);
    border-radius: 0 0 20px 20px;
    z-index: 1;
  }

  .project-info{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  h2{
    color: var(--purple-text);
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(99.79% 99.79% at 50.21% 0%, rgba(91, 143, 185, 0.2844) 0%, rgba(91, 143, 185, 0.036) 100%);
    backdrop-filter: blur(3px);
    height: 200px;
    border-radius:20px 20px 0 0;
    position: relative;
    z-index: ;
  }
  .image-container::after{
    content: "";
    width: 80vw;
    aspect-ratio: 1/1;
    background-color: #7ab4e028;
    position: absolute;
    border-radius: 50%;
    top: -30%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    filter: blur(120px);
    pointer-events: none;
  }

  header{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 60px;
    margin-top: 15px;
    justify-content: space-between;
  }
  .ring-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
  }

  @media (width >= 700px) {
    article{
      min-height: 250px;
      grid-template-columns: 250px 1fr;
    }
    .image-container::after{
      width: 200%;
      height: 100%;
      top: 0;
      filter: blur(150px);
    }
    .right{
      grid-template-columns: 1fr 250px ;
    }
    .left  .project-info-container{
      background: linear-gradient(90deg, rgba(45, 45, 45, 0.65) 0%, rgba(29, 29, 29, 0.62) 100.01%);
      border-radius: 0 20px 20px 0;
    }
    .right  .project-info-container{
      order: -1;
      background: linear-gradient(-90deg, rgba(45, 45, 45, 0.65) 0%, rgba(29, 29, 29, 0.62) 100%);
      border-radius: 20px 0 0px 20px;
    }
    .image-container{
      height: 100%;
    }
    .left .image-container{
      border-radius:20px 0 0 20px;
      background: radial-gradient(99.79% 99.79% at 10% 50%, rgba(91, 143, 185, 0.2844) 0%, rgba(91, 143, 185, 0.036) 100%);
    }
    .right .image-container{
      border-radius:0 20px 20px 0;
      background: radial-gradient(99.79% 99.79% at 90% 50%, rgba(91, 143, 185, 0.2844) 0%, rgba(91, 143, 185, 0.036) 100%);
    }
    .tag-section{
      gap: 10px;
    }
  }
</style>