---
const {imagePosition, title} = Astro.props
---
<article>
  <div class:list={["image-container", imagePosition]}>
    <slot name="image"></slot>
  </div>
  <div class="project-info-container">
    <div class="project-info"> 
      <h2>{title}</h2>
      <slot name="project-description"></slot>
    </div>
   
  </div>
  <slot />
</article>

<style>
  article{
    width: 100%;
    border: 1px solid #7575756c;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 50px;
  }

  .project-info-container{
    background: linear-gradient(0deg, rgba(45, 45, 45, 0.65) 0%, rgba(29, 29, 29, 0.62) 100.01%);
  }

  .project-info{
    width: 80%;
    margin: auto;
  }
  h2{
    color: #B47CFB;
  }

  .image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(99.79% 99.79% at 50.21% 0%, rgba(91, 143, 185, 0.2844) 0%, rgba(91, 143, 185, 0.036) 100%);
    backdrop-filter: blur(5px);
    padding:40px 0;
  }


</style>