---
const { title, id} = Astro.props
---

<section id={id}>
  {title && <header><slot name="section-svg" /><h1>{title}</h1></header> }
  <slot />
</section>  

<style>
  header{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    gap:20px
  }
  section{
    max-width:900px;
    width:70%;
    margin: 0 auto 100px;
  }
  @media (width >= 600px) {
    section{
      width:75%;
      max-width: 950px;
      margin: 0 auto 200px;
    }
    header{
      margin-bottom: 80px;
    }
  }

</style>