---
const { title } = Astro.props
---
<article>
  <slot></slot>
  <p>{title}</p>
</article>

<style>
  article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>

