---
import JavaScript from "../icons/skills/JavaScript.astro"
const { title } = Astro.props
const ejemplo = [1,2,3,4,5]
---
<article>
  <!-- <JavaScript/> -->
  <slot></slot>
  <p>{title}</p>
</article>

<style>
  article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>

