<article>
  <p>Cryptography</p>
</article>

<style>
  article{
    background-color: #3C3C3C;
    border: solid 1px #505050;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
  }
 p{
  color: #5B8FB9;
  font-size: 14px;
 }
</style>