---
const {spillname} = Astro.props
---
<article>
  <p>{spillname}</p>
</article>

<style>
  article{
    background-color: #3C3C3C;
    border: solid 1px #505050;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 5px;
  }
 p{
  color: var(--blue-text);
  font-size: 14px;
 }
 @media (width >= 700px) {
  p{
  font-size: 20px;
 }
 }
</style>